[submodule "users-svc"]
	path = users-svc
	url = git@gitlab.com:spoonfedweb-microservices/users-svc.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@gitlab.com:spoonfedweb-microservices/api-gateway.git
